* {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Smooch Sans", "sans-serif";
  text-align: center;
}

.container {
  max-width: 550px;
  max-height: 729px;
  background: #1f2937;
  color: white;
  margin: 0 auto;
  font-size: 18px;
  border: 1px solid #bbd2c5;
  border-radius: 2px;
}

.upperPart {
  padding: 20px;
  background: #3a69d2;
}

.inlinepara {
  display: inline;
}
